.where-wrapper { font-size: 0.6em; }

.key { position: absolute; top: 0; left: 0; color: #fff; text-align: center; width: 64px; border: 8px solid #fff; }
.key .block { height: 30px; width: 32px; padding-top: 0.6em; }
.block { height: 1px; overflow: visible; float: right; }
.text { visibility: hidden; margin-left:-100%; width: 100%; text-align: right; }
.h-entry:hover .text { visibility: visible; }

.home { background-color: #957DF5; }
.transit { background-color: #97B4F7; }
.office { background-color: #EA90FC; }
.volunteer { background-color: #A2FC90; }
.exercise { background-color: #FCB490; }
.event { background-color: #D8FC90; }
.restaurant { background-color: #FA854B; }
.meeting { background-color: #8E06BA; }
.seminar { background-color: #BA069F; }
.other { background-color: #ccc; }